In [2]:
import numpy as np
import pandas as pd
#全部行都能输出
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
F2 = pd.read_csv("../data/workeddata/F2.csv",sep=",",encoding="UTF-8")
F3 = pd.read_csv("../data/workeddata/F3.csv",sep=",",encoding="UTF-8")

In [3]:
F2_data = F2[["userid","F2.1","F2.3"]]
F3_data = F3.iloc[:,0:13]

In [4]:
F2_3 = F2_data.merge(F3_data,on="userid",how="left")

In [5]:
feature = F2_3[["userid"]]

In [6]:
feature["F2.3.1"] = F2_3["F3.1"]/F2_3["F2.1"]
feature["F2.3.2"] = F2_3["F3.2"]/F2_3["F2.1"]
feature["F2.3.3"] = F2_3["F3.3"]/F2_3["F2.1"]
feature["F2.3.4"] = F2_3["F3.4"]/F2_3["F2.1"]
feature["F2.3.5"] = F2_3["F3.5"]/F2_3["F2.1"]
feature["F2.3.6"] = F2_3["F3.6"]/F2_3["F2.1"]
feature["F2.3.7"] = F2_3["F3.7"]/F2_3["F2.1"]
feature["F2.3.8"] = F2_3["F3.8"]/F2_3["F2.1"]
feature["F2.3.9"] = F2_3["F3.9"]/F2_3["F2.1"]
feature["F2.3.10"] = F2_3["F3.10"]/F2_3["F2.1"]
feature["F2.3.11"] = F2_3["F3.11"]/F2_3["F2.1"]
feature["F2.3.12"] = F2_3["F3.12"]/F2_3["F2.1"]
feature["F2.3.13"] = F2_3["F3.1"]/F2_3["F2.3"]
feature["F2.3.14"] = F2_3["F3.2"]/F2_3["F2.3"]
feature["F2.3.15"] = F2_3["F3.3"]/F2_3["F2.3"]
feature["F2.3.16"] = F2_3["F3.4"]/F2_3["F2.3"]
feature["F2.3.17"] = F2_3["F3.5"]/F2_3["F2.3"]
feature["F2.3.18"] = F2_3["F3.6"]/F2_3["F2.3"]
feature["F2.3.19"] = F2_3["F3.7"]/F2_3["F2.3"]
feature["F2.3.20"] = F2_3["F3.8"]/F2_3["F2.3"]
feature["F2.3.21"] = F2_3["F3.9"]/F2_3["F2.3"]
feature["F2.3.22"] = F2_3["F3.10"]/F2_3["F2.3"]
feature["F2.3.23"] = F2_3["F3.11"]/F2_3["F2.3"]
feature["F2.3.24"] = F2_3["F3.12"]/F2_3["F2.3"]

F:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
F:\Anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

F:\Anaconda\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
F:\Anaconda\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
F:\Anaconda\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
F:\Anaconda\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

F:\Anaconda\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
F:\Anaconda\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

F:\Anaconda\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
F:\Anaconda\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
F:\Anaconda\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
F:\Anaconda\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
F:\Anaconda\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

In [7]:
feature.head()

,userid,F2.3.1,F2.3.2,F2.3.3,F2.3.4,F2.3.5,F2.3.6,F2.3.7,F2.3.8,F2.3.9,...,F2.3.15,F2.3.16,F2.3.17,F2.3.18,F2.3.19,F2.3.20,F2.3.21,F2.3.22,F2.3.23,F2.3.24
0,100000000013,71.5,42.5,29.0,39.5,0.5,2.0,0.5,16.0,9.0,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
1,100000000393,38.0,24.0,14.0,23.0,0.0,1.0,0.0,8.0,3.0,...,inf,inf,NaN,inf,NaN,inf,inf,inf,inf,inf
2,100000000459,35.5,8.5,27.0,8.5,0.0,0.0,0.0,9.5,15.0,...,inf,inf,NaN,NaN,NaN,inf,inf,NaN,inf,inf
3,100000000637,41.0,14.0,27.0,14.0,0.0,0.0,0.0,18.0,9.0,...,inf,inf,NaN,NaN,NaN,inf,inf,NaN,NaN,NaN
4,100000000695,31.0,13.0,18.0,4.0,3.0,1.0,5.0,10.0,4.0,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf

In [8]:
feature = feature.fillna(0) # 空值填充

In [9]:
inf = np.isinf(feature)
feature[inf]= float("NaN") # 极值填充

In [10]:
feature.head()

,userid,F2.3.1,F2.3.2,F2.3.3,F2.3.4,F2.3.5,F2.3.6,F2.3.7,F2.3.8,F2.3.9,...,F2.3.15,F2.3.16,F2.3.17,F2.3.18,F2.3.19,F2.3.20,F2.3.21,F2.3.22,F2.3.23,F2.3.24
0,100000000013,71.5,42.5,29.0,39.5,0.5,2.0,0.5,16.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100000000393,38.0,24.0,14.0,23.0,0.0,1.0,0.0,8.0,3.0,...,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
2,100000000459,35.5,8.5,27.0,8.5,0.0,0.0,0.0,9.5,15.0,...,NaN,NaN,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN
3,100000000637,41.0,14.0,27.0,14.0,0.0,0.0,0.0,18.0,9.0,...,NaN,NaN,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0
4,100000000695,31.0,13.0,18.0,4.0,3.0,1.0,5.0,10.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
feature.to_csv("../data/workeddata/F2_3ys.csv",
                    encoding="gb2312",index=True)

## 建模
* 根据数据分析结果选取建模所需字段，同时抽取一定数量的记录作为建模数据
* 将建模数据划分为训练集和测试集
* 选择模型进行建模

In [ ]:
import numpy as np
import pandas as pd
#全部行都能输出
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
F2 = pd.read_csv("../data/workeddata/F2-fun.csv",sep=",",encoding="UTF-8")
F3 = pd.read_csv("../data/workeddata/F3ys-fun.csv",sep=",",encoding="UTF-8")

In [4]:
# 资料输入
F1 = pd.read_csv("../data/data/trainingset/userProfile_train.csv",sep=",",encoding="UTF-8")
F2_3 = pd.read_csv("../data/workeddata/F2_3-fun.csv",sep=",",encoding="UTF-8")

In [5]:
# 属性改名
F1.columns = ["userid","F1.1","F1.2","F1.3"]

In [6]:
F1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40307 entries, 0 to 40306
Data columns (total 4 columns):
userid    40307 non-null int64
F1.1      15760 non-null object
F1.2      36412 non-null object
F1.3      4742 non-null object
dtypes: int64(1), object(3)
memory usage: 1.2+ MB

In [7]:
F1 = F1.fillna("未知")

In [131]:
F2_t = pd.read_csv("../data/workeddata/F2-fun-test-2.csv",sep=",",encoding="UTF-8")
F3_t = pd.read_csv("../data/workeddata/F3ys-fun-test.csv",sep=",",encoding="UTF-8")
F1_t = pd.read_csv("../data/data/test/userProfile_test.csv",sep=",",encoding="UTF-8")
F2_3_t = pd.read_csv("../data/workeddata/F2_3-fun-test.csv",sep=",",encoding="UTF-8")
# 属性改名
F1_t.columns = ["userid","F1.1","F1.2","F1.3"]

In [106]:
F2['F2.17']

0        10122563500000000
1                        0
2          727472500000000
3                        0
4                        0
5          257783333333333
6                        0
7         1117524500000000
8                        0
9                        0
10          87500600000000
11            475000000000
12        1128062750000000
13                       0
14                       0
15        3928866000000000
16                       0
17                       0
18                       0
19                       0
20        3188870000000000
21        1015559666666666
22        1075206500000000
23        8300619000000000
24                       0
25        1731128333333333
26                       0
27         219126000000000
28                       0
29          15132666666666
               ...
10607      170273000000000
10608                    0
10609      740928000000000
10610       63787750000000
10611                    0
10612                    0
10613                    0
10614                    0
10615                    0
10616         155000000000
10617      320023500000000
10618      208081500000000
10619                    0
10620                    0
10621                    0
10622                    0
10623                    0
10624                    0
10625      175363500000000
10626                    0
10627                    0
10628       41492250000000
10629                    0
10630         198000000000
10631                    0
10632                    0
10633                    0
10634                    0
10635                    0
10636      886681333333333
Name: F2.17, Length: 10637, dtype: int64

In [8]:
F2.head()

,userid,F2.1,F2.2,F2.3,F2.4,F2.5,F2.6,F2.7,F2.8,F2.9,...,F2.27,F2.28,F2.29,F2.30,F2.31,F2.32,F2.33,F2.34,F2.35,F2.36
0,100000000013,2,0,0,0.0,1,2,1,2,1,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,100000000393,1,0,0,0.0,1,1,1,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,100000000459,2,0,0,0.0,1,2,1,2,1,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,100000000637,1,0,0,0.0,1,1,1,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,100000000695,1,0,0,0.0,1,1,1,1,1,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
F1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40307 entries, 0 to 40306
Data columns (total 4 columns):
userid    40307 non-null int64
F1.1      40307 non-null object
F1.2      40307 non-null object
F1.3      40307 non-null object
dtypes: int64(1), object(3)
memory usage: 1.2+ MB

In [9]:
F2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10637 entries, 0 to 10636
Data columns (total 37 columns):
userid    10637 non-null int64
F2.1      10637 non-null int64
F2.2      10637 non-null int64
F2.3      10637 non-null int64
F2.4      10637 non-null float64
F2.5      10637 non-null int64
F2.6      10637 non-null int64
F2.7      10637 non-null int64
F2.8      10637 non-null int64
F2.9      10637 non-null int64
F2.10     10637 non-null int64
F2.11     10637 non-null float64
F2.12     10637 non-null float64
F2.13     10637 non-null float64
F2.14     10637 non-null float64
F2.15     10637 non-null float64
F2.16     10637 non-null float64
F2.17     10637 non-null int64
F2.18     10637 non-null float64
F2.19     10637 non-null float64
F2.20     10637 non-null float64
F2.21     10637 non-null float64
F2.22     10637 non-null float64
F2.23     10637 non-null float64
F2.24     10637 non-null float64
F2.25     10637 non-null float64
F2.26     10637 non-null float64
F2.27     10637 non-null float64
F2.28     10637 non-null float64
F2.29     10637 non-null float64
F2.30     10637 non-null float64
F2.31     10637 non-null float64
F2.32     10637 non-null float64
F2.33     10637 non-null float64
F2.34     10637 non-null float64
F2.35     10637 non-null float64
F2.36     10637 non-null float64
dtypes: float64(26), int64(11)
memory usage: 3.0 MB

In [10]:
F3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40307 entries, 0 to 40306
Data columns (total 81 columns):
userid    40307 non-null int64
F3.1      40307 non-null int64
F3.2      40307 non-null int64
F3.3      40307 non-null int64
F3.4      40307 non-null float64
F3.5      40307 non-null float64
F3.6      40307 non-null float64
F3.7      40307 non-null float64
F3.8      40307 non-null float64
F3.9      40307 non-null float64
F3.10     40307 non-null float64
F3.11     40307 non-null float64
F3.12     40307 non-null float64
F3.13     40307 non-null float64
F3.14     40307 non-null float64
F3.15     40307 non-null float64
F3.16     40307 non-null float64
F3.17     40307 non-null float64
F3.18     40307 non-null float64
F3.19     40307 non-null float64
F3.20     40307 non-null float64
F3.21     40307 non-null float64
F3.22     40307 non-null float64
F3.23     40307 non-null float64
F3.24     39047 non-null float64
F3.25     38288 non-null float64
F3.26     39047 non-null float64
F3.27     39047 non-null float64
F3.28     40307 non-null float64
F3.29     40307 non-null float64
F3.30     40307 non-null float64
F3.31     40307 non-null int64
F3.32     40307 non-null int64
F3.33     40307 non-null int64
F3.34     40307 non-null float64
F3.35     40307 non-null float64
F3.36     37250 non-null float64
F3.37     10031 non-null float64
F3.38     8502 non-null float64
F3.39     5993 non-null float64
F3.40     38321 non-null float64
F3.41     36162 non-null float64
F3.42     16688 non-null float64
F3.43     12046 non-null float64
F3.44     9057 non-null float64
F3.45     32013 non-null float64
F3.46     27799 non-null float64
F3.47     32013 non-null float64
F3.48     32013 non-null float64
F3.49     6606 non-null float64
F3.50     4629 non-null float64
F3.51     6606 non-null float64
F3.52     6606 non-null float64
F3.53     6117 non-null float64
F3.54     4810 non-null float64
F3.55     6117 non-null float64
F3.56     6117 non-null float64
F3.57     4333 non-null float64
F3.58     3281 non-null float64
F3.59     4333 non-null float64
F3.60     4333 non-null float64
F3.61     35260 non-null float64
F3.62     31704 non-null float64
F3.63     35260 non-null float64
F3.64     35260 non-null float64
F3.65     29359 non-null float64
F3.66     23102 non-null float64
F3.67     29359 non-null float64
F3.68     29359 non-null float64
F3.69     5915 non-null float64
F3.70     2406 non-null float64
F3.71     5915 non-null float64
F3.72     5915 non-null float64
F3.73     5962 non-null float64
F3.74     3264 non-null float64
F3.75     5962 non-null float64
F3.76     5962 non-null float64
F3.77     3895 non-null float64
F3.78     1934 non-null float64
F3.79     3895 non-null float64
F3.80     3895 non-null float64
dtypes: float64(74), int64(7)
memory usage: 24.9 MB

In [11]:
F2_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10637 entries, 0 to 10636
Data columns (total 26 columns):
Unnamed: 0    10637 non-null int64
userid        10637 non-null int64
F2.3.1        10637 non-null float64
F2.3.2        10637 non-null float64
F2.3.3        10637 non-null float64
F2.3.4        10637 non-null float64
F2.3.5        10637 non-null float64
F2.3.6        10637 non-null float64
F2.3.7        10637 non-null float64
F2.3.8        10637 non-null float64
F2.3.9        10637 non-null float64
F2.3.10       10637 non-null float64
F2.3.11       10637 non-null float64
F2.3.12       10637 non-null float64
F2.3.13       1745 non-null float64
F2.3.14       2087 non-null float64
F2.3.15       1746 non-null float64
F2.3.16       2105 non-null float64
F2.3.17       7758 non-null float64
F2.3.18       7428 non-null float64
F2.3.19       8952 non-null float64
F2.3.20       1845 non-null float64
F2.3.21       1976 non-null float64
F2.3.22       4918 non-null float64
F2.3.23       4508 non-null float64
F2.3.24       5896 non-null float64
dtypes: float64(24), int64(2)
memory usage: 2.1 MB

In [12]:
F3.head()

,userid,F3.1,F3.2,F3.3,F3.4,F3.5,F3.6,F3.7,F3.8,F3.9,...,F3.71,F3.72,F3.73,F3.74,F3.75,F3.76,F3.77,F3.78,F3.79,F3.80
0,100000000013,143,85,58,79.0,1.0,4.0,1.0,32.0,18.0,...,NaN,NaN,9.219558e+06,1.049036e+14,1204.0,20245128.0,13829334.0,3.824344e+14,1204.0,27657464.0
1,100000000111,3,1,2,1.0,0.0,0.0,0.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100000000127,6,2,4,2.0,0.0,0.0,0.0,2.0,0.0,...,3266886.0,3266886.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100000000231,44,28,16,15.0,6.0,2.0,5.0,10.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100000000379,84,58,26,42.0,3.0,7.0,6.0,14.0,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 不进行归一化

In [17]:
ff = pd.read_csv('../data/workeddata/Feature.csv',encoding="gb2312")

In [18]:
ff.shape

(10637, 146)

In [24]:
ff.head()

,Unnamed: 0,userid,F2.1,F2.3,F2.4,F2.5,F2.6,F2.7,F2.8,F2.9,...,F2.3.18,F2.3.19,F2.3.20,F2.3.21,F2.3.22,F2.3.23,F2.3.24,F1.1,F1.2,F1.3
0,0,100000000013,0.028945,-0.308131,-0.411592,-0.449854,1.101374,-0.470718,1.936468,-0.477855,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,男,未知,60后
1,1,100000000393,-0.466850,-0.308131,-0.411592,-0.449854,-0.396748,-0.470718,-0.299794,-0.477855,...,1.0,0.0,1.0,1.0,1.0,1.0,1.0,女,北京,未知
2,2,100000000459,0.028945,-0.308131,-0.411592,-0.449854,1.101374,-0.470718,1.936468,-0.477855,...,0.0,0.0,1.0,1.0,0.0,1.0,1.0,未知,北京,未知
3,3,100000000637,-0.466850,-0.308131,-0.411592,-0.449854,-0.396748,-0.470718,-0.299794,-0.477855,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,未知,辽宁,未知
4,4,100000000695,-0.466850,-0.308131,-0.411592,-0.449854,-0.396748,-0.470718,-0.299794,-0.477855,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,未知,北京,未知

In [71]:
feature = F1.merge(F2,on="userid",how="left")
feature = feature.merge(F3,on="userid",how="left")
feature = feature.merge(F2_3,on="userid",how="left")

In [72]:
feature.shape

(40307, 145)

In [73]:
feature.head()

,userid,F1.1,F1.2,F1.3,F2.1,F2.2,F2.3,F2.4,F2.5,F2.6,...,F2.3.15,F2.3.16,F2.3.17,F2.3.18,F2.3.19,F2.3.20,F2.3.21,F2.3.22,F2.3.23,F2.3.24
0,100000000013,男,未知,60后,2.0,0.0,0.0,0.0,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100000000111,未知,上海,未知,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100000000127,未知,上海,未知,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100000000231,男,北京,70后,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100000000379,男,北京,未知,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [132]:
F1_t = F1_t.fillna("未知")
featuret = F1_t.merge(F2_t,on="userid",how="left")
featuret = featuret.merge(F3_t,on="userid",how="left")
featuret = featuret.merge(F2_3_t,on="userid",how="left")

In [133]:
featuret.shape

(10076, 145)

In [134]:
featuret.head()

,userid,F1.1,F1.2,F1.3,F2.1,F2.2,F2.3,F2.4,F2.5,F2.6,...,F2.3.15,F2.3.16,F2.3.17,F2.3.18,F2.3.19,F2.3.20,F2.3.21,F2.3.22,F2.3.23,F2.3.24
0,100000000371,未知,上海,未知,1.0,0.0,0.0,0.000000,1.0,1.0,...,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0
1,100000001215,未知,未知,未知,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100000001445,男,浙江,未知,5.0,0.0,0.0,0.000000,4.0,2.0,...,NaN,NaN,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN
3,100000001575,女,江苏,未知,3.0,1.0,1.0,0.333333,2.0,2.0,...,65.0,19.0,0.0,0.0,0.0,42.0,22.0,0.0,1.0,0.0
4,100000001601,未知,上海,未知,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 合并属性表

In [14]:
table_target = pd.read_csv("../data/data/trainingset/orderFuture_train.csv",sep=",",encoding="UTF-8") #读取目标属性表

In [15]:
table_target.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40307 entries, 0 to 40306
Data columns (total 2 columns):
userid       40307 non-null int64
orderType    40307 non-null int64
dtypes: int64(2)
memory usage: 629.9 KB

教的课程只是把有特征的列进行了合并，这样做效果是上去了，但对于test没有任何意义。。。

In [25]:
database111 = ff.merge(table_target,on="userid",how="left")

In [26]:
database111.shape

(10637, 147)

### 合并

In [135]:
database = feature.merge(table_target,on="userid",how="left")

In [136]:
database.shape

(40307, 146)

### 离散型变量One-hot编码

In [114]:
database['F1.1']

0         男
1        未知
2        未知
3         男
4         男
5         女
6        未知
7        未知
8        未知
9         女
10       未知
11       未知
12       未知
13        男
14        女
15        女
16       未知
17        男
18        女
19       未知
20        男
21       未知
22        女
23       未知
24       未知
25        女
26       未知
27       未知
28       未知
29       未知
         ..
40277    未知
40278    未知
40279     男
40280    未知
40281    未知
40282    未知
40283    未知
40284     女
40285    未知
40286    未知
40287     女
40288    未知
40289    未知
40290    未知
40291    未知
40292    未知
40293    未知
40294    未知
40295    未知
40296    未知
40297     女
40298     男
40299    未知
40300     女
40301     男
40302    未知
40303    未知
40304    未知
40305    未知
40306    未知
Name: F1.1, Length: 40307, dtype: object

In [137]:
from sklearn import preprocessing
lbl1 = preprocessing.LabelEncoder()
lbl2 = preprocessing.LabelEncoder()
lbl3 = preprocessing.LabelEncoder()
database["F1.1"] = lbl1.fit_transform(database["F1.1"])
database["F1.2"] = lbl2.fit_transform(database["F1.2"])
database["F1.3"] = lbl3.fit_transform(database["F1.3"])

In [138]:
featuret["F1.1"] = lbl1.transform(featuret["F1.1"])
featuret["F1.2"] = lbl2.transform(featuret["F1.2"])
featuret["F1.3"] = lbl3.transform(featuret["F1.3"])

In [139]:
featuret.head()

,userid,F1.1,F1.2,F1.3,F2.1,F2.2,F2.3,F2.4,F2.5,F2.6,...,F2.3.15,F2.3.16,F2.3.17,F2.3.18,F2.3.19,F2.3.20,F2.3.21,F2.3.22,F2.3.23,F2.3.24
0,100000000371,1,0,5,1.0,0.0,0.0,0.000000,1.0,1.0,...,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0
1,100000001215,1,14,5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100000001445,2,19,5,5.0,0.0,0.0,0.000000,4.0,2.0,...,NaN,NaN,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN
3,100000001575,0,15,5,3.0,1.0,1.0,0.333333,2.0,2.0,...,65.0,19.0,0.0,0.0,0.0,42.0,22.0,0.0,1.0,0.0
4,100000001601,1,0,5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
data_onehot=database[["F1.1","F1.2","F1.3","F2.20","F2.23","F2.26","F2.29","F2.32","F2.35","F3.31","F3.32","F3.33"]]

In [39]:
data_onehot.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40307 entries, 0 to 40306
Data columns (total 12 columns):
F1.1     40307 non-null int32
F1.2     40307 non-null int32
F1.3     40307 non-null int32
F2.20    10637 non-null float64
F2.23    10637 non-null float64
F2.26    10637 non-null float64
F2.29    10637 non-null float64
F2.32    10637 non-null float64
F2.35    10637 non-null float64
F3.31    40307 non-null int64
F3.32    40307 non-null int64
F3.33    40307 non-null int64
dtypes: float64(6), int32(3), int64(3)
memory usage: 3.5 MB

In [37]:
data_onehot.fillna('unknown')
# 先暂时不处理nan

,F1.1,F1.2,F1.3,F2.20,F2.23,F2.26,F2.29,F2.32,F2.35,F3.31,F3.32,F3.33
0,2,14,1,0,1,1,0,0,0,6,1,1
1,1,0,5,unknown,unknown,unknown,unknown,unknown,unknown,6,5,1
2,1,0,5,unknown,unknown,unknown,unknown,unknown,unknown,7,7,5
3,2,3,2,unknown,unknown,unknown,unknown,unknown,unknown,2,2,1
4,2,3,5,unknown,unknown,unknown,unknown,unknown,unknown,1,6,5
5,0,3,5,0,1,0,0,0,0,6,5,5
6,1,18,5,unknown,unknown,unknown,unknown,unknown,unknown,1,5,4
7,1,3,5,1,1,1,0,0,0,6,5,5
8,1,3,5,unknown,unknown,unknown,unknown,unknown,unknown,1,1,9
9,0,11,5,unknown,unknown,unknown,unknown,unknown,unknown,6,5,1
10,1,27,5,0,0,0,0,0,0,6,5,1
11,1,3,5,1,1,1,0,0,0,7,6,5
12,1,29,5,unknown,unknown,unknown,unknown,unknown,unknown,1,1,1
13,2,11,5,unknown,unknown,unknown,unknown,unknown,unknown,5,1,5
14,0,0,5,unknown,unknown,unknown,unknown,unknown,unknown,7,6,5
15,0,11,5,0,1,0,0,0,0,7,6,5
16,1,0,5,1,1,1,0,0,0,6,5,4
17,2,3,1,1,1,1,1,1,1,7,6,5
18,0,3,5,unknown,unknown,unknown,unknown,unknown,unknown,5,5,1
19,1,11,3,0,1,0,0,0,0,6,5,1
20,2,3,5,1,1,1,0,0,0,7,6,5
21,1,0,5,unknown,unknown,unknown,unknown,unknown,unknown,6,5,1
22,0,11,5,0,1,0,1,1,1,7,6,5
23,1,0,5,unknown,unknown,unknown,unknown,unknown,unknown,6,5,5
24,1,0,5,unknown,unknown,unknown,unknown,unknown,unknown,7,6,5
25,0,3,5,unknown,unknown,unknown,unknown,unknown,unknown,5,5,6
26,1,19,5,unknown,unknown,unknown,unknown,unknown,unknown,5,1,5
27,1,0,5,1,1,1,0,0,0,7,6,5
28,1,0,5,unknown,unknown,unknown,unknown,unknown,unknown,6,5,5
29,1,0,5,unknown,unknown,unknown,unknown,unknown,unknown,6,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...
40277,1,18,5,unknown,unknown,unknown,unknown,unknown,unknown,7,6,6
40278,1,19,5,1,1,1,0,0,0,7,6,5
40279,2,3,5,unknown,unknown,unknown,unknown,unknown,unknown,7,6,6
40280,1,1,5,1,1,1,0,0,0,6,5,5
40281,1,3,5,unknown,unknown,unknown,unknown,unknown,unknown,7,6,0
40282,1,0,5,unknown,unknown,unknown,unknown,unknown,unknown,2,4,6
40283,1,14,5,unknown,unknown,unknown,unknown,unknown,unknown,7,6,5
40284,0,19,4,1,1,1,0,0,0,6,5,1
40285,1,0,5,unknown,unknown,unknown,unknown,unknown,unknown,6,6,6
40286,1,15,5,unknown,unknown,unknown,unknown,unknown,unknown,7,6,5
40287,0,14,5,unknown,unknown,unknown,unknown,unknown,unknown,7,6,5
40288,1,3,2,unknown,unknown,unknown,unknown,unknown,unknown,1,2,7
40289,1,19,5,unknown,unknown,unknown,unknown,unknown,unknown,7,6,5
40290,1,0,5,unknown,unknown,unknown,unknown,unknown,unknown,7,6,6
40291,1,0,5,0,0,0,0,0,0,7,6,5
40292,1,0,5,unknown,unknown,unknown,unknown,unknown,unknown,7,0,0
40293,1,14,5,unknown,unknown,unknown,unknown,unknown,unknown,1,1,1
40294,1,27,5,unknown,unknown,unknown,unknown,unknown,unknown,1,1,1
40295,1,14,5,unknown,unknown,unknown,unknown,unknown,unknown,7,6,5
40296,1,14,5,unknown,unknown,unknown,unknown,unknown,unknown,6,6,5
40297,0,3,5,unknown,unknown,unknown,unknown,unknown,unknown,6,5,2
40298,2,5,2,unknown,unknown,unknown,unknown,unknown,unknown,7,6,5
40299,1,3,5,0,1,0,0,0,0,6,5,1
40300,0,14,5,unknown,unknown,unknown,unknown,unknown,unknown,5,5,1
40301,2,29,5,unknown,unknown,unknown,unknown,unknown,unknown,1,1,1
40302,1,19,2,1,1,1,1,1,1,6,5,1
40303,1,3,5,unknown,unknown,unknown,unknown,unknown,unknown,1,5,1
40304,1,0,5,unknown,unknown,unknown,unknown,unknown,unknown,5,1,6
40305,1,0,5,unknown,unknown,unknown,unknown,unknown,unknown,7,6,5
40306,1,3,5,unknown,unknown,unknown,unknown,unknown,unknown,6,5,5

In [41]:
label = preprocessing.LabelEncoder()
one_hot = preprocessing.OneHotEncoder(sparse = False)
one_hot.fit_transform(database[["F1.1","F1.2","F1.3","F3.31","F3.32","F3.33"]])

F:\Anaconda\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

array([[0., 0., 1., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       ...,
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.]])

### 模型建立

In [ ]:
from xgboost import XGBRegressor as XGBR, XGBClassifier as XGBC
from sklearn.ensemble import RandomForestRegressor as RFR
from sklearn.metrics import mean_squared_error as MSE

In [80]:
featuret.columns

Index(['userid', 'F1.1', 'F1.2', 'F1.3', 'F2.1', 'F2.2', 'F2.3', 'F2.4',
       'F2.5', 'F2.6',
       ...
       'F2.3.15', 'F2.3.16', 'F2.3.17', 'F2.3.18', 'F2.3.19', 'F2.3.20',
       'F2.3.21', 'F2.3.22', 'F2.3.23', 'F2.3.24'],
      dtype='object', length=145)

In [44]:
database.columns

Index(['userid', 'F1.1', 'F1.2', 'F1.3', 'F2.1', 'F2.2', 'F2.3', 'F2.4',
       'F2.5', 'F2.6',
       ...
       'F2.3.16', 'F2.3.17', 'F2.3.18', 'F2.3.19', 'F2.3.20', 'F2.3.21',
       'F2.3.22', 'F2.3.23', 'F2.3.24', 'orderType'],
      dtype='object', length=146)

In [45]:
database.columns[1:-2]

Index(['F1.1', 'F1.2', 'F1.3', 'F2.1', 'F2.2', 'F2.3', 'F2.4', 'F2.5', 'F2.6',
       'F2.7',
       ...
       'F2.3.14', 'F2.3.15', 'F2.3.16', 'F2.3.17', 'F2.3.18', 'F2.3.19',
       'F2.3.20', 'F2.3.21', 'F2.3.22', 'F2.3.23'],
      dtype='object', length=143)

In [140]:
fea=list(database.columns[1:-1])

In [141]:
x=database[fea]
y=database["orderType"]

In [142]:
x.shape

(40307, 144)

In [143]:
y.shape

(40307,)

In [144]:
xtest = featuret[fea]

In [145]:
xtest.shape

(10076, 144)

In [124]:
from sklearn.model_selection import StratifiedKFold
folds = StratifiedKFold(n_splits=5, shuffle=True, random_state=666)

In [48]:
import xgboost as xgb

In [51]:
param={'booster':'gbtree',
    'objective': 'binary:logistic',
    'eval_metric': 'auc',
    'max_depth':5,
    'gamma': 0.1,
    'lambda':1,
    'subsample':0.75,
    'colsample_bytree':0.75,
    'min_child_weight':2,
    'eta': 0.025,
    'seed':888,
    'nthread':8,
    'silent':1,
    "scale_pos_weight":1
}
params = {
    'booster': "gbtree",
    'objective': "binary:logistic",
    'eval_metric': "auc",
    'max_depth': 9,
    'subsample': 0.8,
    'colsample_bytree ': 0.9,
    'eta': 0.01,
    'lambda': 3,
    'silent': 0,
    'scale_pos_weight': 4,
    'min_child_weight': 1,
    'missing': -999,
}

In [54]:
# split() missing 1 required positional argument: 'y'
for fold_, (trn_idx, val_idx) in enumerate(folds.split(x, y)):
    print("fold {}".format(fold_))
    trn_data = xgb.DMatrix(
        x.iloc[trn_idx], label=y.iloc[trn_idx])
    val_data = xgb.DMatrix(
        x.iloc[val_idx], label=y.iloc[val_idx])

    num_round = 10000
    watchlist = [(trn_data,'train'),(val_data,'val')]
    clf = xgb.train(param, trn_data, num_round, evals=watchlist, verbose_eval=100, early_stopping_rounds=100)
    # verbose_eval=100 每100轮打印一次auc

    # predictions += clf.predict(xgb.DMatrix(df_test[df_train_columns])) / folds.n_splits

# sub = df_test[['ID']]
# sub['pred'] = predictions
# sub.to_csv(path+'/xgb-10-std-Result.csv', index=False)

fold 0
[0]	train-auc:0.819001	val-auc:0.816138
Multiple eval metrics have been passed: 'val-auc' will be used for early stopping.

Will train until val-auc hasn't improved in 100 rounds.
[100]	train-auc:0.93095	val-auc:0.91933
[200]	train-auc:0.950968	val-auc:0.93534
[300]	train-auc:0.959613	val-auc:0.941129
[400]	train-auc:0.965802	val-auc:0.94483
[500]	train-auc:0.970372	val-auc:0.946997
[600]	train-auc:0.974074	val-auc:0.948585
[700]	train-auc:0.976885	val-auc:0.949455
[800]	train-auc:0.979621	val-auc:0.950207
[900]	train-auc:0.981934	val-auc:0.950506
[1000]	train-auc:0.983902	val-auc:0.950931
[1100]	train-auc:0.985506	val-auc:0.951091
[1200]	train-auc:0.98713	val-auc:0.951292
[1300]	train-auc:0.988493	val-auc:0.951403
[1400]	train-auc:0.989616	val-auc:0.9514
[1500]	train-auc:0.990655	val-auc:0.951662
[1600]	train-auc:0.991586	val-auc:0.951697
Stopping. Best iteration:
[1516]	train-auc:0.990837	val-auc:0.951731

fold 1
[0]	train-auc:0.814888	val-auc:0.81571
Multiple eval metrics have been passed: 'val-auc' will be used for early stopping.

Will train until val-auc hasn't improved in 100 rounds.
[100]	train-auc:0.92885	val-auc:0.924703
[200]	train-auc:0.949003	val-auc:0.939305
[300]	train-auc:0.958569	val-auc:0.944395
[400]	train-auc:0.964884	val-auc:0.946757
[500]	train-auc:0.969508	val-auc:0.948196
[600]	train-auc:0.973355	val-auc:0.949412
[700]	train-auc:0.976431	val-auc:0.949875
[800]	train-auc:0.979235	val-auc:0.950464
[900]	train-auc:0.981353	val-auc:0.950951
[1000]	train-auc:0.983205	val-auc:0.951316
[1100]	train-auc:0.984846	val-auc:0.951553
[1200]	train-auc:0.986525	val-auc:0.951589
Stopping. Best iteration:
[1174]	train-auc:0.986068	val-auc:0.951661

fold 2
[0]	train-auc:0.812139	val-auc:0.810593
Multiple eval metrics have been passed: 'val-auc' will be used for early stopping.

Will train until val-auc hasn't improved in 100 rounds.
[100]	train-auc:0.930316	val-auc:0.92483
[200]	train-auc:0.948813	val-auc:0.938198
[300]	train-auc:0.958414	val-auc:0.945417
[400]	train-auc:0.965428	val-auc:0.949089
[500]	train-auc:0.970038	val-auc:0.950974
[600]	train-auc:0.973593	val-auc:0.952238
[700]	train-auc:0.976541	val-auc:0.953072
[800]	train-auc:0.979105	val-auc:0.953598
[900]	train-auc:0.981202	val-auc:0.953996
[1000]	train-auc:0.983099	val-auc:0.954413
[1100]	train-auc:0.984805	val-auc:0.954482
[1200]	train-auc:0.98643	val-auc:0.954606
Stopping. Best iteration:
[1154]	train-auc:0.985766	val-auc:0.954689

fold 3
[0]	train-auc:0.814118	val-auc:0.790905
Multiple eval metrics have been passed: 'val-auc' will be used for early stopping.

Will train until val-auc hasn't improved in 100 rounds.
[100]	train-auc:0.931193	val-auc:0.92296
[200]	train-auc:0.948843	val-auc:0.935993
[300]	train-auc:0.95834	val-auc:0.942127
[400]	train-auc:0.965332	val-auc:0.946604
[500]	train-auc:0.969962	val-auc:0.948808
[600]	train-auc:0.973647	val-auc:0.950172
[700]	train-auc:0.97673	val-auc:0.950827
[800]	train-auc:0.979272	val-auc:0.951188
[900]	train-auc:0.981184	val-auc:0.951643
[1000]	train-auc:0.983149	val-auc:0.951781
Stopping. Best iteration:
[974]	train-auc:0.982648	val-auc:0.951907

fold 4
[0]	train-auc:0.804798	val-auc:0.785655
Multiple eval metrics have been passed: 'val-auc' will be used for early stopping.

Will train until val-auc hasn't improved in 100 rounds.
[100]	train-auc:0.931176	val-auc:0.925821
[200]	train-auc:0.949282	val-auc:0.939412
[300]	train-auc:0.959294	val-auc:0.945113
[400]	train-auc:0.965123	val-auc:0.947434
[500]	train-auc:0.970111	val-auc:0.949135
[600]	train-auc:0.973776	val-auc:0.949396
[700]	train-auc:0.97657	val-auc:0.94978
[800]	train-auc:0.979114	val-auc:0.950348
[900]	train-auc:0.981264	val-auc:0.950268
Stopping. Best iteration:
[837]	train-auc:0.979905	val-auc:0.950446

In [148]:
import lightgbm as lgb

In [149]:
param = {'num_leaves': 128,
         'objective':'binary',
         'max_depth': -1,
         'learning_rate': 0.01,
         "min_child_samples": 20,
         'min_sum_hessian_in_leaf': 0.1,
         "boosting": "gbdt",
         "feature_fraction": 0.75,
         "bagging_freq": 1,
         "bagging_fraction": 0.9 ,
         "bagging_seed": 11,
         "metric": 'auc',
         "lambda_l1": 0.1,
         "verbosity": -1,
         "nthread": 4,
         "random_state": 666}


folds = StratifiedKFold(n_splits=5, shuffle=True, random_state=666)

In [150]:
predictions = np.zeros(len(xtest))

In [146]:
xtest.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10076 entries, 0 to 10075
Columns: 144 entries, F1.1 to F2.3.24
dtypes: float64(135), int32(3), int64(6)
memory usage: 11.0 MB

In [147]:
x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40307 entries, 0 to 40306
Columns: 144 entries, F1.1 to F2.3.24
dtypes: float64(135), int32(3), int64(6)
memory usage: 44.1 MB

In [151]:
f217 = pd.DataFrame(xtest['F2.17'])

In [152]:
f217.dtypes

F2.17    float64
dtype: object

In [105]:
f211[0] / np.timedelta64(1, 'ns')

KeyError: 0

In [91]:
x['F2.17']

0        1.012256e+16
1                 NaN
2                 NaN
3                 NaN
4                 NaN
5        0.000000e+00
6                 NaN
7        7.274725e+14
8                 NaN
9                 NaN
10       0.000000e+00
11       0.000000e+00
12                NaN
13                NaN
14                NaN
15       2.577833e+14
16       0.000000e+00
17       1.117524e+15
18                NaN
19       0.000000e+00
20       0.000000e+00
21                NaN
22       8.750060e+13
23                NaN
24                NaN
25                NaN
26                NaN
27       4.750000e+11
28                NaN
29                NaN
             ...
40277             NaN
40278    0.000000e+00
40279             NaN
40280    0.000000e+00
40281             NaN
40282             NaN
40283             NaN
40284    0.000000e+00
40285             NaN
40286             NaN
40287             NaN
40288             NaN
40289             NaN
40290             NaN
40291    0.000000e+00
40292             NaN
40293             NaN
40294             NaN
40295             NaN
40296             NaN
40297             NaN
40298             NaN
40299    0.000000e+00
40300             NaN
40301             NaN
40302    8.866813e+14
40303             NaN
40304             NaN
40305             NaN
40306             NaN
Name: F2.17, Length: 40307, dtype: float64

In [89]:
x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40307 entries, 0 to 40306
Columns: 144 entries, F1.1 to F2.3.24
dtypes: float64(135), int32(3), int64(6)
memory usage: 44.1 MB

In [153]:
predictions.shape

(10076,)

In [154]:
for fold_, (trn_idx, val_idx) in enumerate(folds.split(x,y)):
    print("fold {}".format(fold_))
    trn_data = lgb.Dataset(x.iloc[trn_idx], label=y.iloc[trn_idx])#, categorical_feature=categorical_feats)
    val_data = lgb.Dataset(x.iloc[val_idx], label=y.iloc[val_idx])#, categorical_feature=categorical_feats)

    num_round = 10000
    clf = lgb.train(param, trn_data, num_round, valid_sets = [trn_data, val_data], verbose_eval=100, early_stopping_rounds = 100)
    predictions += clf.predict(xtest, num_iteration=clf.best_iteration) / folds.n_splits

fold 0
Training until validation scores don't improve for 100 rounds.
[100]	training's auc: 0.968688	valid_1's auc: 0.940729
[200]	training's auc: 0.980418	valid_1's auc: 0.945682
[300]	training's auc: 0.987195	valid_1's auc: 0.948366
[400]	training's auc: 0.991989	valid_1's auc: 0.950297
[500]	training's auc: 0.994949	valid_1's auc: 0.951587
[600]	training's auc: 0.996662	valid_1's auc: 0.95248
[700]	training's auc: 0.997697	valid_1's auc: 0.952992
[800]	training's auc: 0.998337	valid_1's auc: 0.953186
[900]	training's auc: 0.998735	valid_1's auc: 0.953289
[1000]	training's auc: 0.998993	valid_1's auc: 0.953331
Early stopping, best iteration is:
[937]	training's auc: 0.998837	valid_1's auc: 0.953382
fold 1
Training until validation scores don't improve for 100 rounds.
[100]	training's auc: 0.968452	valid_1's auc: 0.944768
[200]	training's auc: 0.979389	valid_1's auc: 0.948846
[300]	training's auc: 0.986448	valid_1's auc: 0.950956
[400]	training's auc: 0.991586	valid_1's auc: 0.952039
[500]	training's auc: 0.994847	valid_1's auc: 0.952684
[600]	training's auc: 0.996679	valid_1's auc: 0.953086
[700]	training's auc: 0.997763	valid_1's auc: 0.953068
Early stopping, best iteration is:
[606]	training's auc: 0.996764	valid_1's auc: 0.953124
fold 2
Training until validation scores don't improve for 100 rounds.
[100]	training's auc: 0.968509	valid_1's auc: 0.943871
[200]	training's auc: 0.980031	valid_1's auc: 0.949227
[300]	training's auc: 0.986967	valid_1's auc: 0.951924
[400]	training's auc: 0.991995	valid_1's auc: 0.953486
[500]	training's auc: 0.995032	valid_1's auc: 0.954344
[600]	training's auc: 0.996797	valid_1's auc: 0.95493
[700]	training's auc: 0.997816	valid_1's auc: 0.955199
[800]	training's auc: 0.998406	valid_1's auc: 0.955463
[900]	training's auc: 0.998763	valid_1's auc: 0.955534
Early stopping, best iteration is:
[884]	training's auc: 0.998714	valid_1's auc: 0.955585
fold 3
Training until validation scores don't improve for 100 rounds.
[100]	training's auc: 0.967959	valid_1's auc: 0.942091
[200]	training's auc: 0.979216	valid_1's auc: 0.947524
[300]	training's auc: 0.986844	valid_1's auc: 0.950724
[400]	training's auc: 0.991844	valid_1's auc: 0.952626
[500]	training's auc: 0.995022	valid_1's auc: 0.953753
[600]	training's auc: 0.996758	valid_1's auc: 0.954067
[700]	training's auc: 0.997808	valid_1's auc: 0.954288
[800]	training's auc: 0.998412	valid_1's auc: 0.954341
[900]	training's auc: 0.998777	valid_1's auc: 0.954382
Early stopping, best iteration is:
[847]	training's auc: 0.9986	valid_1's auc: 0.954445
fold 4
Training until validation scores don't improve for 100 rounds.
[100]	training's auc: 0.968681	valid_1's auc: 0.944116
[200]	training's auc: 0.980312	valid_1's auc: 0.948624
[300]	training's auc: 0.987353	valid_1's auc: 0.950269
[400]	training's auc: 0.992249	valid_1's auc: 0.951693
[500]	training's auc: 0.995281	valid_1's auc: 0.952141
[600]	training's auc: 0.996938	valid_1's auc: 0.952394
[700]	training's auc: 0.997866	valid_1's auc: 0.952606
[800]	training's auc: 0.998448	valid_1's auc: 0.952618
Early stopping, best iteration is:
[747]	training's auc: 0.998172	valid_1's auc: 0.952784

In [157]:
featuret.head()

,userid,F1.1,F1.2,F1.3,F2.1,F2.2,F2.3,F2.4,F2.5,F2.6,...,F2.3.15,F2.3.16,F2.3.17,F2.3.18,F2.3.19,F2.3.20,F2.3.21,F2.3.22,F2.3.23,F2.3.24
0,100000000371,1,0,5,1.0,0.0,0.0,0.000000,1.0,1.0,...,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0
1,100000001215,1,14,5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100000001445,2,19,5,5.0,0.0,0.0,0.000000,4.0,2.0,...,NaN,NaN,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN
3,100000001575,0,15,5,3.0,1.0,1.0,0.333333,2.0,2.0,...,65.0,19.0,0.0,0.0,0.0,42.0,22.0,0.0,1.0,0.0
4,100000001601,1,0,5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [158]:
sub=featuret[['userid']]
sub['orderType']=predictions

F:\Anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [159]:
sub.head()

         userid  orderType
0  100000000371   0.012042
1  100000001215   0.004579
2  100000001445   0.005696
3  100000001575   0.998741
4  100000001601   0.002285

In [160]:
sub.to_csv('./lgb-Result.csv',index=False)